.display-feedbacks {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.feedbacks {
  align-items: center;
  width: 60vw;
}

.feedback-input-container {
  margin-bottom: 10px;
  width: 60vw;
}

.p-badge.p-badge-danger {
  background-color: #d32f2f;
  color: #ffffff;
  text-align: center;
}

.feedback-button {
  background-color: transparent !important;
  border: 1px solid #007ad9 !important;
  color: #007ad9 !important;
}

.feedback-button:hover {
  background-color: rgba(0, 122, 217, 0.1) !important;
}

.feedback-button:focus {
  outline: none !important;
}

.feedback-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  margin-top: 10px;
}

.feedback-save-button {
  margin-top: 1vh;
  width: 4vw;
  height: 4vh;
  justify-content: center;
  border-color: #ced4da;
  color: var(--main-color);
  font-size: 14px;
}

.feedback-item {
  position: relative;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
}

.feedback-actions {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  gap: 5px;
  z-index: 1;
}

.writer-info {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
}

.feedback-action-button {
  background-color: transparent !important;
  border: none !important;
  color: var(--main-color);
  cursor: pointer;
  padding: 0;

}

.feedback-action-button:hover {
  opacity: 0.7;
}

.feedback-text {
  text-align: center;
  margin: 35px 0 10px;
  word-wrap: break-word;
}