@import url(../../App.css);

.download-file {
    margin-top: 1vh;
    width: 4vw;
    height: 4vh;
    justify-content: center;
    border-color: #ced4da;
    color: var(--main-color);
    font-size: 14px;
}

.attachments {
    display: flex;
}

.attachments .p-button {
    color: black;
}

.attachments .p-button-label{
    padding-right: 6px;
}