node_modules
.env
*.env
***/node_modules
***/coverage
coverage/
coverage/
package-lock.json
Backend/.gitignore
logs
*.log
pids
*.pid
*.seed
*.pid.lock
dist
/node_modules
.vscode/
.idea/
.DS_Store
Thumbs.db
../package-lock.json
../../tsconfig.json
.tsconfig.json
.history