DOCUMENTS_FOLDER_PATH = "path/to/documents"
GCS_BUCKET = "bucket name"
GEMINI_API_KEY = "gemini api key"
IMAGES_FOLDER_PATH = "path to images"
INDEX_ID = "index id"
GOOGLE_CREDENTIALS = "google creadentials json"
HOST = "project server host"
IMAGES_FOLDER_PATH = "path/to/images"
INDEX_ENDPOINT_ID = "index endpoint id"
LOCATION = "bucket location"
PORT = 8080
PROJECT_ID = "GCS project id"
SIGN_SERVER_URL = "API for getting sign-url"
LOGS_PATH = "/var/log/path/to/dir"
