DOCUMENTS_FOLDER_PATH = "path/to/documents"
GCS_BUCKET = "bucket name"
GEMINI_API_KEY = "gemini api key"
GOOGLE_CREDENTIALS = "google creadentials json"
HOST = "project server host"
IMAGES_FOLDER_PATH = "path/to/images"
INDEX_ENDPOINT_ID = "index endpoint id"
INDEX_ID = "index id"
LOCATION = "bucket location"
PORT = 8080
PROJECT_ID = "GCS project id"
