DOCUMENTS_FOLDER_PATH = "/path/to/documents"
GCS_BUCKET = "bucket name"
GOOGLE_CREDENTIALS = "google creadentials json"
HOST = "project server host"
IMAGES_FOLDER_PATH = "/path/to/images"
INDEX_ENDPOINT_ID = "index endpoint id"
INDEX_ID = "index id"
LOCATION = "bucket location"
LOGS_PATH = "/var/log/path/to/dir"
PORT = 8000
PROJECT_ID = "GCS project id"
DOCUMENT_MANAGER_URL = "Document manager url"
