@import url(../../App.css);

.mail {
    margin-top: 1vh;
    position: relative;
    width: 65vw;
    border: 1px var(--gray-color) solid;
    border-radius: 5px;
    height: 51vh;
    direction: ltr;
}

.big {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-btn {
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 5vw;
    height: 4vh;
    z-index: 100;
}

.read-mail {
    padding: 2vw;
}