@import url(../../App.css);

.attendance-container,
.attendance-container-personal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    direction: rtl;
}

.month-hours {
    margin-left: 3em;
}

.attendance-tabview {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 3vh;
}

.week-hours {
    text-align: end;
    margin-left: 3em;
}

.no-data-message {
    margin-bottom: 30vh;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 90vw;
}

.attendance-container .p-datatable-wrapper {
    height: 38vh;
}

.attendance-container-personal .p-datatable-wrapper {
    height: 50vh;
}

.attendance-container-personal .attendance-tabview {
    margin-right: 3vw;
}